p {
    background-color: aqua;
    /*margin: 10px 10px red;*/
}

body {
    background-color: rgb(226, 226, 240);
}


.nav-bar-logo {
    background-color: rgb(84, 211, 45); 
    padding : 10px;
    height: auto;
    width: 200;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 0;
     
    
     
    
}
.nav-bar-logo__image {
     
    padding: 10;
    box-sizing: content-box;
     
}


.box-article {
    width: 500px;
    border: 10px solid blue;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    display:  inline-block;
    margin: auto;
}

#box-article_1 {
    background-color: lightblue;
}


#box-article_2 {
    background-color: coral;
}


#box-article_3 {
    background-color: violet;
    opacity: .5;
}

.nav-links {
    display: inline-block;
    background-color: brown;
}

.nav-links li {
    display: inline-block;
    padding: 10px;
    width: auto;
}

.nav-bar-logo__image {
    height: 70px;
    width: auto;
}